body {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
h3 {
	font-weight: 800;
	line-height: 1.25;
	color: var(--heading);
}

p {
	font-weight: 500;
	line-height: 1.6;

	color: var(--text);
}
